/* Container styles */
.body_container {
  overflow-y: scroll;
  margin: 0 auto;
  margin-top: 3%;
  background-color: #fff;
  border-radius: 0.5vw;
  width: 55%;
  height: 72vh;
  padding: 2%;
}

/* Scroll customization */
.body_container::-webkit-scrollbar-track {
  border-radius: 4px;
}
.body_container::-webkit-scrollbar {
  width: 2px;
}
.body_container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #f0f2f5;
  display: none;
}
.body_container:hover::-webkit-scrollbar-thumb {
  border-radius: 2vw;
  background: #4980d8;
  display: block;
  background-repeat: repeat;
}

/* Head styles */
.body_head {
  display: flex;
  justify-content: space-between;
}
.body_hover {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}
.body_search {
  width: 35%;
  border-radius: 0.3vw;
  border: 1px solid #a9b5db;
  color: #a9b5db;
}

input[type="text"] {
  color: #a9b5db;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type="text"]::placeholder {
  color: #a9b5db;
  font-family: "Nunito", sans-serif;
}
input[type="text"]:focus {
  border: 1px solid #5470cc;
}
.body_head input[type="text"] {
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: 1.5%;
  background-size: 5%;
  padding-left: 3%;
}
.modal_inner_content input[type="text"] {
  width: 70%;
  padding: 1%;
  border-radius: 0.3vw;
  border: 1px solid #a9b5db;
  color: #a9b5db;
}

/* Content styles */
.body_content {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
}
.content_item {
  cursor: pointer;
  width: 22%;
  min-width: 22%;
  height: 20vh;
  border-radius: 0.3vw;
  border: 1px solid #a9b5db;
  margin-left: 2.5%;
  margin-top: 1.5%;
}
.content_item_top {
  height: 65%;
  background-color: aquamarine;
}
.content_item_bot {
  padding: 5%;
  height: 35%;
}
.content_item:hover {
  background-color: #eff3fa;
}
.content_item_desc {
  font-size: 1.1rem;
  font-weight: bold;
}
.content_item_bot_line {
  margin-top: 5%;
}
.content_item_owner {
  color: #7c8dc1;
}

/* Item top content - WIP! */
.content_top_menu {
  display: none;
  z-index: 1;
  background-color: grey;
  width: 100%;
  height: 20%;
  text-align: right;
  transition: 0.7s;
}
.content_top_menu:hover {
  display: block;
}
.content_top_menu_delete {
  background-image: url("../assets/delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.content_top_menu_copy {
  background-image: url("../assets/copy_link.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Adaptation for 1920px < width */
@media screen and (max-width: 1600px) {
  .body_container {
    width: 75%;
  }
}
@media screen and (max-width: 1100px) {
  .body_container {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .body_container {
    height: 77vh;
  }
  .content_item {
    min-width: 30%;
    height: 25vh;
  }
}
@media screen and (max-width: 800px) {
  .content_item {
    min-width: 46%;
    height: 27vh;
  }
  .body_container {
    height: 80vh;
  }
}
