/* Container styles */
.body_container {
  overflow-y: scroll;
  margin: 0 auto;
  margin-top: 2%;
  background-color: #fff;
  border-radius: 0.5vw;
  width: 60%;
  height: 75.2vh;
  padding: 2%;
}

/* Scroll customization */
.body_container::-webkit-scrollbar-track {
  border-radius: 4px;
}
.body_container::-webkit-scrollbar {
  width: 2px;
}
.body_container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #f0f2f5;
  display: none;
}
.body_container:hover::-webkit-scrollbar-thumb {
  border-radius: 2vw;
  background: #4980d8;
  display: block;
  background-repeat: repeat;
}

/* Head styles */
.body_head {
  display: flex;
  justify-content: space-between;
}
.body_hover {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}
.body_search {
  width: 35%;
  border-radius: 0.3vw;
  border: 1px solid #a9b5db;
  color: #a9b5db;
}

input[type="text"] {
  color: #a9b5db;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type="text"]::placeholder {
  color: #a9b5db;
  font-family: "Nunito", sans-serif;
}
input[type="text"]:focus {
  border: 1px solid #5470cc;
}
.body_head input[type="text"] {
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: 1.5%;
  background-size: 5%;
  padding-left: 3%;
}
.modal_inner_content input[type="text"] {
  width: 70%;
  padding: 1%;
  border-radius: 0.3vw;
  border: 1px solid #a9b5db;
  color: #a9b5db;
}

/* Content styles */
.body_content {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
}
.content_item {
  cursor: pointer;
  width: 23%;
  min-width: 23%;
  height: 21vh;
  border-radius: 0.3vw;
  border: 1px solid #a9b5db;
  margin-left: 1.8%;
  margin-top: 1.5%;
  transition: 0.7s ease;
}
.content_item_preview {
  position: relative;
  top: -24%;
  height: 102%;
  border-radius: 0.3vw;
  overflow: hidden;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
.content_item_link {
  width: 100%;
  height: 100%;
  background-image: url("../assets/link.svg");
  background-size: contain;
  background-position: center;
}
.content_item_top {
  height: 65%;
  background-color: aquamarine;
}
.content_item_bot {
  padding: 5%;
  height: 35%;
}
.content_item:hover {
  background-color: #eff3fa;
}
.content_item_desc {
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
}
.content_item_bot_line {
  margin-top: 5%;
}
.content_item_owner {
  color: #7c8dc1;
}
.content_item_avatar {
  background-image: urL("../assets/custom_avatar.svg");
  background-repeat: no-repeat;
  background-size: auto;
  width: 3.3vw;
  height: 2.6vh;
  background-position: center;
  margin-left: 50%;
}

.content_top_menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 7%;
  left: 55%;
  background-color: #fff;
  border-radius: 0.3vw;
  opacity: 0;
  z-index: 1;
  width: 40%;
  height: 23%;
  transition: 0.7s ease;
}
.content_item:hover .content_top_menu {
  opacity: 1;
}
.content_top_menu_item {
  margin-top: 4%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70%;
  height: 70%;
}
.content_top_menu_delete {
  background-image: url("../assets/delete.svg");
}
.content_top_menu_copy {
  background-image: url("../assets/copy_link.svg");
}
.content_top_menu_edit {
  background-image: url("../assets/edit.svg");
}

/* Adaptation for 1920px < width */
@media screen and (max-width: 1850px) {
  .body_container {
    width: 76%;
  }
}
@media screen and (max-width: 1600px) {
  .body_container {
    width: 77%;
  }
}
@media screen and (max-width: 1385px) {
  .body_container {
    width: 90%;
  }
  .content_item_avatar {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .body_container {
    height: 77vh;
  }
  .content_item {
    min-width: 30%;
    height: 25vh;
  }
}
@media screen and (max-width: 800px) {
  .content_item {
    min-width: 46%;
    height: 27vh;
  }
  .body_container {
    height: 80vh;
  }
}
