/* Buttons */
.button {
  cursor: pointer;
  border-radius: 0.3vw;
  border: 1px solid #3e4867;
  font-weight: bold;
}
.button_violet {
  background-color: #7f4ee7;
  color: #fff;
  border: unset;
}
.button_violet:hover {
  background-color: #7742e9;
}
.button_grey {
  color: black;
  background-color: transparent;
}
.button_grey:hover {
  background-color: #e9edfa;
}
.button_upload {
  padding: 1.3% 4%;
  background-image: url("../assets/upload.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 8%;
}
.button_next {
  padding: 4% 6%;
}
.button_back {
  padding: 4% 6%;
}

/* Loading */
.loading {
  background-image: url("../assets/load.svg");
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0 auto;
  margin-top: 12%;
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 800px) {
  .button_upload {
    background-image: unset;
  }
}
