/* Upload modal styles */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f9fafd;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 0.3vw;
  width: 25vw;
  height: 32%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal_inner_content {
  padding: 3%;
  width: 100%;
}

.modal_p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 2%;
}

.modal_buttons_area {
  display: flex;
  width: 95%;
  margin-top: 8%;
  justify-content: space-between;
}

.modal_url_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.modal_url_type {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 6%;
  margin-left: 3%;
}
.modal_url_type_yt {
  background-image: url("../assets/yt.svg");
}
.modal_url_type_link {
  background-image: url("../assets/link_type.svg");
}

/* Adaptation for 1920px < width */
@media screen and (max-width: 1600px) {
  .modal-content {
    width: 27vw;
    height: 33%;
  }
}
@media screen and (max-width: 1400px) {
  .modal-content {
    width: 35vw;
  }
}
@media screen and (max-width: 1100px) {
  .modal-content {
    width: 50vw;
    height: 40%;
  }
}
@media screen and (max-width: 1000px) {
  .modal-content {
    width: 60vw;
    height: 43%;
  }
}
@media screen and (max-width: 800px) {
  .modal-content {
    width: 80vw;
    height: 45%;
  }
}
